:root {
    --color-primary-orange: hsl(35, 77%, 62%);
    --color-primary-red: hsl(5, 85%, 63%);

    --color-neutral-white: hsl(36, 100%, 99%);
    --color-neutral-grayBlue: hsl(233, 8%, 79%);
    --color-neutral-darkGrayBlue: hsl(236, 13%, 42%);
    --color-neutral-veryDarkBlue: hsl(240, 100%, 5%);

    --size-p: 16px;

    --mobile: 375px;
    --desktop: 1440px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: "Inter", sans-serif;
}

.container {
    padding: 4rem 6rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    /* gap: 10px; */
}

.nav-items a {
    margin: 20px;
    text-decoration: none;
    color: var(--color-neutral-darkGrayBlue);
}

.nav-items a:hover{
    color: var(--color-primary-red);
}

/* ================main================ */

.main {
    height: 530px;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    overflow: hidden;
}
#desktop-image {
    max-width: 800px;
}

.info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.main-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    gap: 30px;
}

.main-info h1 {
    font-weight: 800;
    font-size: 56px;
    text-align: left;
    color: var(--color-neutral-veryDarkBlue);
}

.main-info div {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}

.main-info div p {
    font-size: var(--size-p);
    color: var(--color-neutral-darkGrayBlue);
    line-height: 25px;
}

.button {
    cursor: pointer;
    border: 0;
    background-color: var(--color-primary-red);
    padding: 18px 30px;
    letter-spacing: 4px;
    font-weight: 700;
    font-size: 14px;
    color: var(--color-neutral-white);
    margin-top: 28px;
    transition: .2s;
}

.button:hover{
    background-color: var(--color-neutral-veryDarkBlue);
}
/* =================card-Info============== */
.main-card {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--color-neutral-veryDarkBlue);
    color: var(--color-neutral-white);
}

.main-card h2 {
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--color-primary-orange);
    font-size: 40px;
}

.main-card li h3{
    cursor: pointer;
    margin-bottom: 6px;
    transition: 0.1s;
}
.main-card li h3:hover{
    color: var(--color-primary-orange);
}

.main-card ul {
    list-style: none;
}

.main-card ul li {
    margin: 26px 0 0 0 ;
}

.main-card ul li::after {
    content: "";
    height: 1px;
    display: block;
    height: 0.3px;
    width: 100%;
    background-color: rgba(233, 233, 233, 0.603);
}

.main-card ul li:nth-child(3)::after {
   display: none;
}

.main-card li p {
    font-size: var(--size-p);
    color: var(--color-neutral-grayBlue);
    line-height: 26px;
    margin-bottom: 28px;
}

/* ============card============ */

.cards {
    padding: 4rem 0 4rem 0;
    width: 100%;
    height: auto;
}

.list-cards{
    list-style: none;
    display: flex;
}


.list-cards li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.list-cards div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-cards li img{
    max-width: 100px;
}

.list-cards li span{
    font-size: 34px;
    color: var(--color-neutral-grayBlue);
    font-weight: 600;
}

.list-cards li h1{
    font-size: 18px;
    color: var(--color-neutral-veryDarkBlue);
    cursor: pointer;
    transition: 0.2s;
}

.list-cards li h1:hover{
    color: var(--color-primary-red);
}

.list-cards li p{
    color: var(--color-neutral-darkGrayBlue);
}
/* ===========MOBILE================ */
@media (max-width: 375px){
    .container {
        padding: 1rem;
    }
    .nav {
        align-items:flex-start;
    }
    .nav-items {
        flex-direction: column;
    }
    .main{
        height: auto;
        flex-direction: column;
        gap:60px;
    }

    #desktop-image{
        height: 300px;
        width: 100%;
    }

    .main-info{
        flex-direction: column;
        align-items: flex-start;
    }
    .main-info div{
        width: 100%;
    }

    .list-cards{
        flex-direction: column;
        gap: 40px;
    }
}